.deleteaccount {
    margin-bottom: 20px;
}

.message-success {
    color: lawngreen;
}
body {
    font-family: 'Roboto Condensed';
}
.message-error {
    color: red;
}

.btn-changePassword {
    align-self: center;
}
.form-outline {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.col-xl-6 {
    width: 100% !important;
    align-items: center;
}

.passwordChange {
    flex-direction: column;
    align-items: start;
}

.carinfo, .email {
    flex-direction: column;
}

.passwordChange > button {
    align-self: center;
}

