body {
    font-family: 'Roboto Condensed';
}
a:hover {
    color: white;
}

div#park-info-buttons {
    display: flex;
    justify-content: start;
}

h1 {
    margin-bottom: 50px;
    padding-bottom: 16px;
}

div#button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

a {
    text-decoration: none;
    color: white;
    border: solid #343538 1px;
    background-color: #343538;
    font-size: 1.5em;
    padding: 4px 16px;
}

h1#control-page-title {
    margin-top: 50px;
    border-bottom: 1px solid #343538;
}

div#control-page {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin-top: 20px;
}

button#edit {
    border: solid #343538 1px;
    background-color: #343538;
    color: white;
    margin-top: 20px;
    font-size: 1em;
    padding: 4px 16px;
}

form {
    width: 100%;
    gap: 16px;
    display: flex;
}

button#search-button, button#user-button {
    padding: 8px 16px;
    background-color: #343538;
    color: white;
}

button#user-button {
    width: 40%;
}

h2 {
    font-size: 1.5em;
}

h5 {
    font-size: 1em;
}

p {
    font-size: 1em;
    margin-bottom: auto;
}

    p#non-stop, p.open {
        color: forestgreen;
    }

    p.closed {
        color: red;
    }

div.card-content {
    padding: 0;
    display: flex;
    border: 1px solid #343538;
}

div.card-wrapper {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 16px;
}

#locations > div > div > img {
    width: 35%;
    object-fit: cover;
}

div#page {
    display: flex;
    justify-content:space-evenly;
    height: calc(100vh - 130px);
}

div#locations {
    width: 50%;
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100vh - 118px);
}

div.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media(max-width:768px){
    div#page{
        flex-direction:column-reverse;

    }
    div#locations{
        width:100%;
        height:50vh;
    }
    div#control-page{
        width:100%;
        padding:16px;
    }
    h1#control-page-title{
        margin: 16px 0px;
    }
}

