@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
p#user {
    font-weight: bold;
}

div#content-wrapper {
    display: flex;
    justify-content: center;
}

div.one-line-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-weight: bold;
}

div#card {
    display: flex;
    height: 25vh;
    border: solid 1px black;
    width: 100%;
}

div#description {
    width: 100%;
    padding: 16px;
}

img {
    width: 320px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

div#card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 124px);
    overflow: hidden;
    overflow-y: auto;
    width: 70vw;
    gap: 16px;
    padding: 16px;
}

button#cancel {
    border: solid 1px red;
    border-radius: 32px;
    background-color: red;
    color: white;
    padding: 2px 24px;
    align-self: end;
}

    button#cancel:hover {
        border: solid 1px darkred;
        background-color: darkred;
    }

p#active {
    color: forestgreen;
    font-weight: bold;
}

p#cancelled {
    color: red;
    font-weight: bold;
}

