<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarParkingSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarParkingSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/locations.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm mb-3 ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CarParkingSystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 ms-auto">
                        <li><a id="reserve" class="nav-link" asp-area="" asp-controller="Parking" asp-action="Index">Reserve</a></></li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    @*<div class="container">
        <main role="main" class="pb-3">
            
        </main>
    </div>*@
    @RenderBody()
    <footer class="footer text-muted">
        <div class="container">
            &copy; 2023 - CarParkingSystem
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    footer.footer.text-muted>div.container{
        color:white;
    }
    body{
        font-family:'Roboto Condensed' !important;
    }
    nav{
        background-color: #343538;
    }
    nav>div>a.navbar-brand{
        color:white;
        padding:0;
        font-size: 2em;
    }
    div>ul>li>a.nav-link{
        color:white;
        padding: 0;
        font-size: 1.5em;
    }
    div > ul > li > a.nav-link:hover {
        transition: all ease-in 0.2s;
        transform:scale(1.1);
    }
    .mb-3 
    {
        margin:0 !important;
    }

    div > ul
    {
        margin-right:0;
        justify-content: end
    }

    body > header > nav  > div > div
    {
        gap:3em;
    }

    body > footer
    {
        /*background-color: #242323;*/
        background-color: #343538;
    }
</style>
