html {
    height: 100vh;
}
div#location-wrapper{
    width:500px;
}
img#marker-image {
    margin-bottom: 8px;
}

div#open-closed-reserve {
    display: flex;
    justify-content: space-between;
}

button#reserve {
    text-decoration: none;
    margin-right: 8px;
    color: dodgerblue;
    padding: 0;
}

div#location-list {
    height: 60vh;
    overflow: hidden;
    overflow-y: auto;
}

p, h2 {
    margin-bottom: 0;
    text-align: start;

}

hr {
    margin: 6px -20px;
}

div#location-list {
    padding:8px;
}

div#card-container {
    width: 100%;
    margin-bottom: 10px;
}

img#card-img {
    width: 25%;
    object-fit: cover;
}

div#content-wrapper {
    display: flex;
    height: calc(100vh - 118px);
}

div#map {
    height: 100%;
    width:100%;
    border-left: 1px solid #343538;
}

button#near-me {
    display: flex;
    text-align: center;
    margin: auto;
    background-color: coral;
    padding: 6px 24px;
    border: solid coral 1px;
    border-radius: 32px;
    font-size: 1em;
    color: white;
    font-weight: 500;
    margin-bottom: 15px;
}

div#location-input {
    text-align: center;
    padding: 16px;
    border-bottom: 1px solid gray;
}


label.form-label {
    font-size: 2em;
}

input {
    border-radius: 32px !important;
}

div#search-bar {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

button#near-me:hover {
    background-color: orangered;
    border: solid orangered 1px;
    transition: all ease-out 0.2s;
}


p.closed {
    color: red;
}

p.open {
    color: forestgreen;
}

div#info-window {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 14em;
}
body {
    font-family: 'Roboto Condensed';
}
    div#info-window > h2 {
        font-size: 16px;
    }

    div#info-window > p {
        margin-bottom: 0.5em;
    }
@media(max-width:1265px){
    label.form-label {
        font-size: 1.5em;
    }
}
@media(max-width:768px){
    #content-wrapper{
        flex-direction:column;
    }
    div#map{
        width:100%;
    }
    div#location-list{
        height:30vh;
    }
    div#location-wrapper{
        width:100%;
    }
}